<!-- stylesheet -->
<style>
.slide-bg-{{ section.id }}.slideshow_demo_8 {
  background-color: {{ section.settings.bg_section_color }};
}
.slide-bg-{{ section.id }} .content-slideshow {
  top: auto;
  bottom: 10%;
  margin: 0 6%;
  -webkit-transform: none;
  transform: none;
}
.slide-bg-{{ section.id }} .promotion {
  margin-bottom: 4px;
  font-family: 'Oswald';
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -.05em;
  line-height: 1;
}
.slide-bg-{{ section.id }} .main-title {
  margin-bottom: 30px;
  padding-top: 4px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
}
.slide-bg-{{ section.id }} .btn {
  padding: 11px 26px;
  border: 0;
  border-radius: 3px !important;
  font-size: 15px;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .slide-bg-{{ section.id }} .promotion {font-size: 2.7rem;}
  .slide-bg-{{ section.id }} .main-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }
  .slide-bg-{{ section.id }} .btn {
    font-size: 12px;
    padding: 7px 15px;
  }
}
</style>
<!-- end stylesheet -->
<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  <div class="main-slideshow slideshow_demo_8 slide-bg-{{ section.id }}" style="margin-top: {{section.settings.margin_top | remove: 'px' | append: 'px' }};margin-bottom: {{section.settings.margin_bottom | remove: 'px' | append: 'px' }};padding: {{section.settings.section_padding}};">
    <div class="container">
      <div class="slider-with-side row">
        <div class="slider-area col-lg-{{section.settings.slide_col_width}}">
          {%- if section.blocks.size > 0 -%}
          <div class="slideshow-section">
            <div class="data-slideshow"
                 data-auto="{{ section.settings.auto_speed }}"
                 data-paging="{{ section.settings.slide_pagination }}"
                 data-nav="{{ section.settings.slide_navigation }}"
                 data-transition="{{ section.settings.slide_transition }}"
                 data-prev='{{ section.settings.slide_nav_prev }}'
                 data-next='{{ section.settings.slide_nav_next }}' style="display: none;"></div>
            <div id="slideshow-section-{{ section.id }}" class="slideshow owl-carousel">
              {%- for block in section.blocks -%}
              {%- if block.type == 'image' -%}
              {%- comment -%} Calculate image size for lazyload {%- endcomment -%}
              {%- if block.settings.image != blank -%}
                {%- assign image_url = block.settings.image | img_url: 'master' -%}
                {%- assign ar = block.settings.image.aspect_ratio -%}
              {%- else -%}
                {%- assign image_url = 'img820x405.png' | asset_url -%}
                {%- assign ar = 2.024691358024691 -%}
              {%- endif -%}
              {%- comment -%} End Calculate image size {%- endcomment -%}
              <div class="item" style="padding-top: {{100 | divided_by: ar}}%;background-color: {{block.settings.lazy_back_color}}">
                <img class="slide-image" data-src="{{ image_url }}" alt="{{block.settings.image.alt}}"/>
              {%- else -%}
              <div class="item">
                <div class="video-wrap">
                  {%- if block.settings.ico_slide_video_overlay != 'none' -%}
                  <div class="video-overlay overlay-{{ block.settings.ico_slide_video_overlay }}" style="opacity: 1;"></div>
                  {%- endif -%}
                  <video class="video" poster="{{ slide_img | asset_url }}" autoplay {% if block.settings.ico_slide_video_loop == 'loop' %}loop=""{% endif %} {% if block.settings.ico_slide_video_mute == 'mute' %}muted=""{% endif %} preload="auto" data-width="0" data-height="0">
                    {%- if block.settings.ico_slide_video contains '.mp4' -%}
                    <source src="{{ block.settings.ico_slide_video }}" type="video/mp4">
                    {%- else -%}
                    <source src="{{ block.settings.ico_slide_video }}" type="video/webm">
                    {%- endif -%}
                  </video>
                </div>
              {%- endif -%}

                {%- comment -%} Show Slider Content {%- endcomment -%}
                {%- if block.settings.show_content == blank -%}
                {%- if block.settings.link_slider != blank %}
                <a href="{{ block.settings.link_slider }}" style="position:absolute;top:0;left:0;width:100%;height:100%;"></a>
                {%- endif -%}
                {%- else -%}
                <div class="{% if layout != 'container' %}container{% endif %} content-container">
                  {%- if block.settings.content_style == "custom_html" -%}
                  <div class="content-slideshow {{ block.settings.content_pos }}">
                    {{ block.settings.content }}
                  </div>
                  {%- else -%}
                  <div class="content-slideshow {{ block.settings.content_pos }}" style="color: {{ block.settings.content_color }};">
                    <h3 class="promotion">{{ block.settings.promotion }}</h3>
                    <h2 class="main-title">{{ block.settings.main_title }}</h2>
                    {%- if block.settings.button_title != blank -%}
                    <a href="{{ block.settings.link_slider | default: '#' }}" class="btn btn-default">{{ block.settings.button_title }}</a>
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                </div>
                {%- endif -%}{%- comment -%} End Slider Content {%- endcomment -%}

              </div><!-- End .item -->
              {%- endfor -%}
            </div>
          </div>
          {%- endif -%}
        </div>
        <div class="side-area col-lg-{{ 12 | minus: section.settings.slide_col_width}}">
          <div class="item1">
            <a href="{{ section.settings.link_image_baner1 }}" style="position:absolute;height:100%;width:100%;z-index:9;"></a>
            {%- if section.settings.image_banner_1 != blank -%}
            {%- assign baner_url = section.settings.image_banner_1 | img_url: 'master' -%}
            {%- else -%}
            {%- assign baner_url = 'baner305x129.png' | asset_url -%}
            {%- endif -%}
            <img data-src="{{ baner_url }}" width="305" height="129"/>
            {%- if section.settings.content_banner_1 != " " -%}
            <div class="content">
              {%- if settings.language_enable -%}
              <div class="lang1">{{ section.settings.content_banner_1 | split: '[lang2]' | first }}</div>
              <div class="lang2">{{ section.settings.content_banner_1 | split: '[lang2]' | last }}</div>
              {%- else -%}
              {{ section.settings.content_banner_1 | split: '[lang2]' | first }}
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
          <div class="item2">
            <a href="{{ section.settings.link_image_baner2 }}" style="position:absolute;height:100%;width:100%;z-index:9;"></a>
            {%- if section.settings.image_banner_2 != blank -%}
            {%- assign baner_url = section.settings.image_banner_2 | img_url: 'master' -%}
            {%- else -%}
            {%- assign baner_url = 'baner305x129.png' | asset_url -%}
            {%- endif -%}
            <img data-src="{{ baner_url }}" width="305" height="129"/>
            {%- if section.settings.content_banner_2 != " " -%}
            <div class="content">
              {%- if settings.language_enable -%}
              <div class="lang1">{{ section.settings.content_banner_2 | split: '[lang2]' | first }}</div>
              <div class="lang2">{{ section.settings.content_banner_2 | split: '[lang2]' | last }}</div>
              {%- else -%}
              {{ section.settings.content_banner_2 | split: '[lang2]' | first }}
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
          <div class="item3">
            <a href="{{ section.settings.link_image_baner3 }}" style="position:absolute;height:100%;width:100%;z-index:9;"></a>
            {%- if section.settings.image_banner_3 != blank -%}
            {%- assign baner_url = section.settings.image_banner_3 | img_url: 'master' -%}
            {%- else -%}
            {%- assign baner_url = 'baner305x129.png' | asset_url -%}
            {%- endif -%}
            <img data-src="{{ baner_url }}" width="305" height="129"/>
            {%- if section.settings.content_banner_3 != " " -%}
            <div class="content">
              {%- if settings.language_enable -%}
              <div class="lang1">{{ section.settings.content_banner_3 | split: '[lang2]' | first }}</div>
              <div class="lang2">{{ section.settings.content_banner_3 | split: '[lang2]' | last }}</div>
              {%- else -%}
              {{ section.settings.content_banner_3 | split: '[lang2]' | first }}
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Slideshow & Banner Right",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "bg_section_color",
      "label": "Section background color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Section margin top",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Section margin bottom",
      "info": "40px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section padding",
      "info": "Set padding for section top-right-bottom-left (ex: 0 0 10px 0)"
    },
    {
      "type":"header",
      "content":"Banner Settings"
    },
    {
      "type": "image_picker",
      "id": "image_banner_1",
      "label": "Image Banner 1"
    },
    {
      "type": "url",
      "id" : "link_image_baner1",
      "label": "Link Banner"
    },
    {
      "type": "html",
      "id": "content_banner_1",
      "label": "Content Banner 1",
      "default" : "<em style='color:#fff; font-weight:400; font-style:italic; line-height:1;'>fashion</em><h2 style='color:#fff; font-weight:700; line-height:1;'>TRENDS</h2><a href='#' style='color:#000;font-weight:300;line-height:1;'>Shop now</a>"
    },
    {
      "type": "image_picker",
      "id": "image_banner_2",
      "label": "Image Banner 2"
    },
    {
      "type": "url",
      "id" : "link_image_baner2",
      "label": "Link Banner"
    },
    {
      "type": "html",
      "id": "content_banner_2",
      "label": "Content Banner 2",
      "default" : "<h2 style='color:#000;font-weight:300;line-height:1;'><b style='font-weight:600;font-style:italic;'>Deals</b> + PROMOS</h2><p style='color:#777;font-weight:300;font-style:italic;vertical-align:bottom;line-height:1.2;float:left;'>Limited sales in<br>our categories.</p><a href='#' class='btn btn-default' style='color:#fff;font-weight:400;vertical-align:bottom;line-height:1;float:left;'>SHOP NOW <i class='icon-right-dir'></i></a>"
    },
    {
      "type": "image_picker",
      "id": "image_banner_3",
      "label": "Image Banner 3"
    },
    {
      "type": "url",
      "id" : "link_image_baner3",
      "label": "Link Banner"
    },
    {
      "type": "html",
      "id": "content_banner_3",
      "label": "Content Banner 3",
      "default": "<h2 style='color:#fff;font-weight:600;line-height:1;'>HUGE <b style='font-weight:800;'>SALE</b></h2><p style='color:#b2b2b2;font-weight:300;line-height:1;'>Now starting at <b style='font-weight:600;'>$99</b></p><a href='#' style='font-weight:300;line-height:1;'>Shop now &gt;</a>"
    },
    {
      "type": "header",
      "content": "Slideshow Settings"
    },
    {
      "type": "select",
      "id": "slide_col_width",
      "label": "Slide Section Width",
      "info": "Select columns of slider. Entire width is 12 columns.",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        }
      ],
      "default": "9"
    },
    {
      "type": "text",
      "id": "auto_speed",
      "label": "Autoplay",
      "info": "If you would like the slider to auto-rotate, then set the autoplay rotate time in ms here. I.e. you would enter '5000' for the slider to rotate every 5 seconds.",
      "default": "5000"
    },
    {
      "type": "select",
      "id": "slide_transition",
      "label": "Transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "select",
      "id": "slide_navigation",
      "label": "Navigation",
      "info": "Choose if you would like to display the left\/right arrows on the slider.",
      "options": [
        {
          "value": "1",
          "label": "Yes"
        },
        {
          "value": "0",
          "label": "No"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "slide_pagination",
      "label": "Pagination",
      "info": "Choose if you would like to display the slider pagination.",
      "options": [
        {
          "value": "1",
          "label": "Yes"
        },
        {
          "value": "0",
          "label": "No"
        }
      ],
      "default": "1"
    },
    {
      "type": "text",
      "id": "slide_nav_prev",
      "label": "Prev Navigation",
      "default": "<i class=\"icon-chevron-left\"></i>"
    },
    {
      "type": "text",
      "id": "slide_nav_next",
      "label": "Next Navigation",
      "default": "<i class=\"icon-chevron-right\"></i>"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image slideshow"
        },
        {
          "type": "url",
          "id": "link_image_slide",
          "label": "Slide link"
        },
        {
          "type": "color",
          "id": "lazy_back_color",
          "label": "Lazyload Background Color",
          "default": "#eee"
        },
        {
          "type": "checkbox",
          "id": "show_content",
          "label": "Show Slide Content",
          "default": true
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "info": "Choose one of the styles you'd like to display content.",
          "options": [
            {"value": "default", "label": "Default"},
            {"value": "custom_html", "label": "Custom HTML"}
          ],
          "default": "custom_html"
        },
        {
          "type": "select",
          "id": "content_pos",
          "label": "Content Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Text Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "promotion",
          "label": "Promotion Text"
        },
        {
          "type": "text",
          "id": "main_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title"
        },
        {
          "type": "url",
          "id": "link_slider",
          "label": "Link To"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Custom HTML",
          "info": "Write your own html/css for slider content"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video slide",
      "settings": [
        {
          "type": "text",
          "id": "ico_slide_video",
          "label": "Background Video .mp4 or .webm URL",
          "info": "provide the video .mp4, .webm url for the background"
        },
        {
          "type": "select",
          "id": "ico_slide_video_loop",
          "label": "Video Loop",
          "info": "Choose if you would like the slide background video to play once, or loop.",
          "options": [
            {
              "value": "loop",
              "label": "Loop"
            },
            {
              "value": "",
              "label": "Single play"
            }
          ]
        },
        {
          "type": "select",
          "id": "ico_slide_video_mute",
          "label": "Video mute",
          "info": "Choose if you would like the slide background video to be muted, or not.",
          "options": [
            {
              "value": "mute",
              "label": "Mute"
            },
            {
              "value": "volume",
              "label": "Volume"
            }
          ]
        },
        {
          "type": "select",
          "id": "ico_slide_video_overlay",
          "label": "Video overlay",
          "info": "Choose if you would like to show an overlay style over the video.",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "lightgrid",
              "label": "Lightgrid"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_content",
          "label": "Show Slide Content",
          "default": true
        },
        {
          "type": "select",
          "id": "content_style",
          "label": "Content Style",
          "info": "Choose one of the styles you'd like to display content.",
          "options": [
            {"value": "default", "label": "Default"},
            {"value": "custom_html", "label": "Custom HTML"}
          ],
          "default": "custom_html"
        },
        {
          "type": "select",
          "id": "content_pos",
          "label": "Content Position",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "right", "label": "Right"}
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "content_color",
          "label": "Content Text Color",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "promotion",
          "label": "Promotion Text"
        },
        {
          "type": "text",
          "id": "main_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Title"
        },
        {
          "type": "url",
          "id": "link_slider",
          "label": "Link To"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Custom HTML",
          "info": "Write your own html/css for slider content"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Slideshow With Banner Right",
    "category": "Slideshow",
    "settings": {
      "auto_speed": "5000"
    },
    "blocks": [
      {
        "type": "image",
        "settings": {
          "content": "<em style=\"font-weight:300;line-height:1;color:#fff;font-style:normal;\">FEEL</em><h3 style=\"font-weight:700;line-height:1;color:#fff;\">The</h3><h5 style=\"font-weight:600;line-height:1;color:#fff;\">Power!</h5>"
        }
      },
      {
        "type": "image",
        "settings": {
          "content": "<em style=\"font-weight:300;line-height:1;color:#fff;font-style:normal;\">FEEL</em><h3 style=\"font-weight:700;line-height:1;color:#fff;\">The</h3><h5 style=\"font-weight:600;line-height:1;color:#fff;\">Power!</h5>"
        }
      }
    ]
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
